.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items>ul {
  display: flex;
  padding: 0px 20px;
  list-style-type: none;
}

.nav-items>ul>li {
  display: flex;
  margin: 10px;
  padding: 10px;
  font-size: 24px;
}

.restaurant-card {
  padding: 3px;
  width: 200px;
}

.restaurant-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.restaurant-logo {
  width: 100%;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}